<% if (errors && errors.length) { %>
    <ul>
        <% errors.forEach(e => { %>
            <li><%= e %></li>
        <% }) %>
    </ul>
<% } %>

<h1>Muuda uudist</h1>

<form action="/news/edit/<%= news.id %>" method="POST">
    <input name="title" value="<%= news.title %>">
    <textarea name="content"><%= news.content %></textarea>

    <button type="submit">Salvesta muudatused</button>
</form>
