<nav class="navbar navbar-dark bg-dark mb-4">
    <div class="container">
        <a class="navbar-brand" href="/">Avaleht</a>
        <a class="btn btn-success" href="/news/create">Lisa uudis</a>
    </div>
</nav>
